<!DOCTYPE html>
<html>
  <head>
    <title>Buildable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= favicon_link_tag 'favicon.png' %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Montserrat|PT+Sans+Narrow|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
